*.sh text eol=lf
*.py text eol=lf
*Containerfile text eol=lf
Dockerfile* text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.mjs text eol=lf
*.ts text eol=lf
*.java text eol=lf
*.kts text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.npmrc text eol=lf
.prettierignore text eol=lf
uv.lock text eol=lf
